:root {
    /* --primary-color: #FFFFFF;      /* White */
    --secondary-color: #1a1a1a;
    /* Almost black */
    --accent-color: #ffb9b9;
    /* Watermelon pink */
    --text-color: #333333;
    /* Dark gray */
    --bg-light: #f8e5e8;
    /* Now its a Wine Red before it was Light pinkish white fdf6f7
 */

    /* this is the new colors that I wanna use */
    --primary-color-One: #E50914;
    --primary-color-Two: #0099FF;

    --secondary-color-One: black;
    --secondary-color-Two: white;
    --secondary-color-Three: #c7a37a;

    --accent-color-One: grey;
    --accent-color-Two: #66CCFF;
    --accent-color-Three: #FF4D6A;

    --text-color-One: black;
    --text-color-Two: white;

    --text-shadow: #1A1A1A;

    --background-card-color-One: #660000;
    --background-card-color-Two: #0033CC;











}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap;  */
    min-height: 100vh;
    width: 100%;
    /* padding: 10px 20px; */
    background: var(--secondary-color-Two);
    /* margin-bottom: 60px; */
}

.pic {
    height: auto;
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
    margin-top: 30px;
    /* margin-bottom: px;  */
}

.about {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.text {
    width: 100%;
    max-width: 540px;
    text-align: center;
    margin-top: -40px;
    margin-bottom:100px;
}

.text h5 {
    color: var(--secondary-color-One);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.text span {
    color: var(--accent-color-Three);
}
.text span{
    font-size:2.5rem;
    font-weight:500;

}

.text p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.blizzard-wrapper{
     display: inline-block;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    vertical-align: bottom;
}
.blizzard{
    display: inline-block;
    color: var(--accent-color-Three);
    font-weight: 600;
    transform: translateY(0);
    
}

h5 .blizzard-wrapper {
  display: inline-block;
  vertical-align: middle; /* aligns with h5 text */
}

@keyframes roll-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes roll-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .text h5 {
        font-size: 40px;
    }

    .text p {
        font-size: 15px;
        line-height: 20px;
    }
}

@media (max-width: 480px) {
    .text h5 {
        font-size: 20px;
    }
}