/* [project]/src/styles/legacy/style.css [app-client] (css) */
:root {
  --secondary-color: #1a1a1a;
  --accent-color: #ffb9b9;
  --text-color: #333;
  --bg-light: #f8e5e8;
  --primary-color-One: #e50914;
  --primary-color-Two: #09f;
  --secondary-color-One: black;
  --secondary-color-Two: white;
  --secondary-color-Three: #c7a37a;
  --accent-color-One: grey;
  --accent-color-Two: #6cf;
  --accent-color-Three: #ff4d6a;
  --text-color-One: black;
  --text-color-Two: white;
  --text-shadow: #1a1a1a;
  --background-card-color-One: #600;
  --background-card-color-Two: #03c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color-Two);
  color: var(--secondary-color-One);
  margin: 100px 0 0;
  font-family: Georgia, serif;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: var(--secondary-color-Two);
  z-index: 1000;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 10px #0000001a;
}

.header img {
  align-content: flex-start;
  height: 70px;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header h20 {
  color: var(--text-color);
  text-shadow: 1px 1px 2px var(--bg-light);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

.burger-menu {
  background-color: var(--secondary-color-Two);
  text-align: center;
  z-index: 1100;
  flex-direction: column;
  width: 100%;
  list-style: none;
  transition: all .3s;
  position: fixed;
  top: 65px;
  right: 0;
  transform: translateX(100%);
  box-shadow: 0 10px 27px #0000000d;
}

.burger-menu a {
  color: var(--text-color);
}

.burger-menu.active {
  transform: translateX(0);
}

.burger-item {
  margin: 2.5rem 0;
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
  position: relative;
}

.burger-item a:after {
  content: "";
  background-color: var(--primary-color);
  width: 0;
  height: 2px;
  transition: width .3s;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translateX(-50%);
}

.burger-item a:hover:after {
  width: 100%;
}

.burger {
  cursor: pointer;
  display: block;
}

.bar {
  background-color: var(--text-color);
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all .3s ease-in-out;
  display: block;
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:first-child {
  transform: translateY(8px)rotate(45deg);
}

.burger.active .bar:nth-child(3) {
  transform: translateY(-8px)rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .burger-menu {
    width: auto;
    box-shadow: none;
    background: none;
    flex-direction: row;
    transition: none;
    display: flex;
    position: static;
    top: auto;
    right: auto;
    transform: none;
  }

  .burger-item {
    margin: 0 1rem;
  }

  .burger {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header h20 {
    font-size: 1.2rem;
  }

  .burger-item {
    margin: 1.5rem 0;
  }
}

.slideshow-container {
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.fadeaway {
  display: none;
}

.fadeaway img {
  object-fit: cover;
  width: 700px;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .fadeaway img {
    width: 400px;
  }
}

.numberImage {
  color: var(--primary-color);
  padding: 8px 12px;
  font-size: 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  background-color: #bbb;
  border-radius: 2%;
  width: 5px;
  height: 5px;
  margin: 0 2px;
  transition: background-color .6s;
  display: inline-block;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.menu-select {
  margin-bottom: 40px;
}

.menu-select h2 {
  color: var(--secondary-color-Three);
  border-bottom: 2px solid var(--secondary-color-Three);
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 2em;
}

.menu-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  display: grid;
}

.menu-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  transition: transform .3s, box-shadow .3s;
  box-shadow: 0 4px 8px #0000001a;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #00000026;
}

.menu-item h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.menu-item .description {
  color: #666;
  margin-bottom: 15px;
  font-style: italic;
}

.menu-item .price {
  color: #c7a37a;
  font-size: 1.2em;
  font-weight: bold;
}

review-container {
  padding: 20px;
}

.review-container h2 {
  text-align: center;
}

.review-grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
  display: grid;
}

.review-item {
  background-color: var(--secondary-color-Two);
  border-radius: 8px;
  margin: 30px;
  padding: 20px;
  transition: transform .3s, box-shadow .3s;
  box-shadow: 0 4px 8px #0000001a;
}

.review-item:hover {
  box-shadow: var(--secondary-color-One);
  transform: translateY(-10px);
  box-shadow: 0 15px 30px #0000001f;
}

.review-item h3 {
  color: var(--secondary-color-One);
  text-shadow: 1px 1px 2px var(--secondary-color-Two);
  margin-bottom: 10px;
  font-size: 1.5em;
}

.review-item .description {
  color: var(--accent-color-One);
  text-shadow: 0 6px 12px #00000026;
  margin-bottom: 15px;
  font-style: italic;
}

.review-item .rating {
  color: var(--accent-color-Three);
  font-size: 1.2em;
  font-weight: bold;
}

.fa {
  text-align: center;
  border-radius: 50%;
  width: 30px;
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
}

.social-media-container {
  justify-content: center;
  align-items: center;
  margin: 10px 0 40px;
  display: flex;
}

.social-item {
  background-color: var(--primary-color);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  padding: 50px;
  transition: transform .3s, box-shadow .3s;
  display: flex;
  box-shadow: 0 4px 8px #0000001a;
}

.social-items i {
  color: var(--text-color);
  transition: color .3s;
  transform: scale(1.25);
}

.social-items i:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #00000026;
}

.social-item a:link, .social-item a:visited, .social-item a:hover, .social-item a:active {
  color: var(--secondary-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .social-item {
    width: 100%;
  }
}

button4 {
  --button_radius: .75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.button_top {
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  background: var(--button_color);
  color: var(--button_outline_color);
  padding: .75em 1.5em;
  transition: transform .1s;
  display: block;
  transform: translateY(-.2em);
}

button4:hover .button_top {
  transform: translateY(-.33em);
}

button4:active .button_top {
  transform: translateY(0);
}

.ad-container {
  background-color: var(--primary-color-One);
  color: var(--secondary-color-Two);
  white-space: nowrap;
  padding: 15px 0;
  overflow: hidden;
}

.scrolling-ad {
  font-size: 1rem;
  font-weight: 600;
  animation: 20s linear infinite scroll-left;
  display: inline-block;
}

.scrolling-ad span {
  margin-right: 50px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.footer {
  background-color: var(--secondary-color-One);
  color: var(--secondary-color-Two);
  padding: 40px 0 20px;
}

.footer-content {
  text-align: center;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 30px;
  display: grid;
}

.footer-section h7 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-section p, .footer-section ul, .footer-section a, .footer-section address {
  color: var(--secondary-color-Two);
  font-style: normal;
  text-decoration: none;
}

.buzzword-wrapper {
  vertical-align: bottom;
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  overflow: hidden;
}

.buzzword {
  color: #ebc250;
  font-weight: 600;
  display: inline-block;
  transform: translateY(0);
}

@keyframes roll-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes roll-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-section ul {
  align-items: center;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section span {
  font-size: 2rem;
}

.map-container {
  filter: grayscale(80%) contrast(1.1);
  border-radius: 8px;
  margin-top: 15px;
  transition: filter .3s;
  overflow: hidden;
}

.map-container:hover {
  filter: grayscale(0%);
}

.map-container iframe {
  border: 0;
  width: 100%;
  height: 150px;
  display: block;
}

.social-links {
  justify-content: center;
  gap: 15px;
  display: flex;
}

.social-links a {
  margin-right: 0;
  font-size: 1.2rem;
}

.footer-bottom {
  text-align: center;
  border-top: 0px solid var(--secondary-color-Two);
  padding-top: 20px;
  font-size: .9rem;
}

.button-54 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  border: 3px solid;
  margin-bottom: 20px;
  padding: .25em .5em;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px, 5px 5px;
}

.button-54 a {
  color: var(--secondary-color-One);
}

.button-54:active {
  top: 5px;
  left: 5px;
  box-shadow: 0 0;
}

@media (min-width: 768px) {
  .button-54 {
    padding: .25em .75em;
  }
}

/*# sourceMappingURL=src_styles_legacy_style_css_bad6b30c._.single.css.map*/